.A{
  display: flex;
  margin-left: 20em;
}
.s {
  background-color: blue;
  margin-right: 10em;
}
.shopping-list{
  background-color: red;
  display: column;
  flex-direction: row;

}
.cart{
  background-color:green;



}
.list-item{
  display: flex;
}
.r:nth-child(odd) {
  background: #5F9EA0;
}
.r:nth-child(even) {
  background: #FFF8D1;
}
.c:nth-child(odd) {
  background: #6495ED;
}
.c:nth-child(even) {
  background: #00CED1;
}