.container{
  display: flex;
  margin-left: 2em;
}
.shoppinglist-box {
  background-color: blue;
  width: 50%;
  margin-right: 2em;
  padding: 1.5em;
}
.cart-box {
  background-color: blue;
  width: 50%;
  margin-right: 2em;
  padding: 1.5em;
}
.shoppinglist {
  background-color: red;
}
.cart{
  background-color:green;
}
.shopping-list-item{
  list-style-type: none;
}
.shopping-list-item:nth-child(odd) {
  background: #5F9EA0;
}
.shopping-list-item:nth-child(even) {
  background: #FFF8D1;
}
.input-field{
  width: 25em;
}
.cart-list-item{
  list-style-type: none;
}
.cart-list-item:nth-child(odd) {
    background: #6495ED;
}
.cart-list-item:nth-child(even) {
  background: #00CED1;
}
.cart-button {
  width: 25em;
  height: 5em;
}