.container{
  display: flex;
  margin-left: 2em;
}
.shoppinglist-box {
  background-color: blue;
  width: 50%;
  margin-right: 2em;
  padding: 1.5em;
}
.cart-box {
  background-color: blue;
  width: 50%;
  margin-right: 2em;
  padding: 1.5em;
}
.shoppinglist {
  background-color: red;
}
.cart{
 background-color:green;
}
.shopping-list-item{
  list-style-type: none;
  }
.shopping-list-item:nth-child(odd) {
  background: #5F9EA0;
}
.shopping-list-item:nth-child(even) {
  background: #FFF8D1;
}
.input-field__input{
  font-size: 2em;
  width: 16em;
  height: 1.5em;
}
.input-field__submit{
  width: 8em;
  height: 4em;
  padding-top: 1.1em;
}
.shopping-list-item__h1{
  margin: 0.2em;
  padding:0.2em;
}
.cart-list-item{
  list-style-type: none;
}
.cart-list-item:nth-child(odd) {
    background: #6495ED;
}
.cart-list-item:nth-child(even) {
  background: #00CED1;
}
.cart-list-item__h1{
  margin: 0.2em;
  padding:0.2em;
}
.cart-button {
  width: 25em;
  height: 5em;
}